<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Interactive Musical Scale">
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/base.css">
    <title>Interactive Musical Scale</title>
    <script src="/js/tunepad-interactives.min.js"></script>
    <style>
        main {
            margin: 1rem 2rem;
            display: block;
        }
        music-scale {
            display: block;
            width: 400px;
        }
    </style>
</head>
<body>
    <main>
        <music-scale></music-scale>
    </main>
</body>
</html>
