---
title: Featured Projects
subtitle: Covers and Original Music
description: Covers and original music composed with TunePad
splash: /images/splash/featured-splash.png
---
{% extends "layouts/curriculum.njk" %}
{% block header %}
{{ super() }}
<style>
    header {
        color: #d1c6d7;
        padding: 8rem 0 0 3rem;
    }
</style>
{% endblock %}
{% block body %}

<section class="highlights">
    <h1>TunePad Covers</h1>
    <p>Song covers created by the TunePad community.</p>
    <div class="vcards" id="featured-projects">
        {% for proj in featured.covers %}
        <div class="vcard" data-url="{{ proj.url }}" data-target="_blank">
            <div class="card-image">
                {% if proj.artwork %}
                <div class="ar-fix-image" style="background-image: url('{{ proj.artwork }}');"></div>
                {% else %}
                <div class="ar-fix-image" style="background-color: {{ proj.color }};"></div>
                {% endif %}
            </div>
            <div class="card-info">
                <h1>{{ proj.name }}</h1>
                <div class="summary">{{ proj.summary }}</div>
                {%- if proj.author -%}
                <div class="author">{{ proj.author }}</div>
                {%- endif -%}
            </div>
            {% if proj.preview %}
            <button class="card-audio-button">
                <i class="fas fa-play"></i>
                <audio src="https://api.tunepad.com/api/projects/{{ proj.id }}/audio/" class="audio-preview"></audio>
            </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>



<section class="highlights">
    <h1>TunePad Originals</h1>
    <p>Original music created in TunePad.</p>
    <div class="vcards" id="featured-projects">
        {% for proj in featured.originals %}
        <div class="vcard" data-url="{{ proj.url }}" data-target="_blank">
            <div class="card-image">
                {% if proj.artwork %}
                <div class="ar-fix-image" style="background-image: url('{{ proj.artwork }}');"></div>
                {% else %}
                <div class="ar-fix-image" style="background-color: {{ proj.color }};"></div>
                {% endif %}
            </div>
            <div class="card-info">
                <h1>{{ proj.name }}</h1>
                <div class="summary" title="{{ proj.summary }}">{{ proj.summary }}</div>
                {%- if proj.author -%}
                <div class="author">{{ proj.author }}</div>
                {%- endif -%}
            </div>
            {% if proj.preview %}
            <button class="card-audio-button">
                <i class="fas fa-play"></i>
                <audio src="https://api.tunepad.com/api/projects/{{ proj.id }}/audio/" class="audio-preview"></audio>
            </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
