---
title: Learn TunePad
description: TunePad is a free, online platform for creating digital music with Python code. This page provides learning resources including curriculum, tutorials, games, puzzles, interactive learning tools, and more. This materials is designed for learners who are new to both music and coding.
splash: /images/splash/curriculum-splash2.png
---
{% extends "layouts/base.njk" %}
{% block header %}
    {{ super() }}
<style>
    article .content-wrapper {
        padding: 1rem 2rem 3rem 2rem;
        background-color: #f6f6f9; 
        margin: 0;
    }
    .logo-nugget {
        background-image: url('/images/quickstart.svg');
        width: 100px;
        height: 100px;
    }
    main {
        margin: 4rem auto 0 auto;
    }
    header {
        width: 100%;
        height: 300px;
        background-image: url('{{ splash }}');
        background-size: 100% auto;
        background-position-y: bottom;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    .banner-text { 
        background-color: #0003;
    }
</style>
{% endblock %}

{% block resources %}
    <div class="logo-nugget"></div>
{% endblock %}

{% block banner %}
    <div class="banner-text">
        <h1>Welcome to TunePad!</h1>
        <p>
            This site provides resources for learning how to create digital music using Python code.
            You can find TunePad curriculum, tutorials, games, puzzles, and more, all designed for 
            learners who are new to both music and coding.
        </p>
    </div>
{% endblock %}

{% block body %}

<section style="border-bottom: 1px solid #0002;">
    <div class="resource-box" style="text-align: center; padding-bottom: 10px;">
        <div class="card directory" data-url="/learn/">
            <h2>Learner Resources</h2>
            <p>Whether you're a beginner to music, or coding, or both, find resources to 
                start your music-making journey using Python code.</p>
            <button><a style="text-decoration: none; color: white" href="/learn/">I'm a Student</a></button>
        </div>
        <div class="card directory" data-url="/teach/">
            <h2>Educator Resources</h2>
            <p>Find resources to teach TunePad in your classroom, camp,
                or afterschool program. We have curriclum for elementary through high school
                and beyond.</p>
            <button><a style="text-decoration: none; color: white" href="/teach/">I'm an Educator</a></button>
        </div>
    </div>
</section>

<section class="highlights">
    <div class="section-title">
        <h1><a href="/learn/">Getting Started</a></h1>
        <p>Our <a href="/learn/">getting started</a> activities are designed for beginners who are new to both music and Python programming.</p>
    </div>
    <div class="cards">
        {%- for demo in collections.learn | limit(2) -%}
        <div class="qcard" data-url="{{ demo.url }}">
            <div class="card-image">
                <img src="{{ demo.data.splash }}" alt="{{ demo.data.title }}">
            </div>
            <div class="card-info">
                <div style="display: flex; align-items: center;">
                    <h1 style="margin-top: 0px; width: max-content;">{{ demo.data.title }}</h1>
                    <div class="badge">
                        <h3 class="level-badge">{{ demo.data.level }}</h3>
                    </div>
                </div>
                <br>
                {{ demo.data.description }}
            </div>
            <div style="position: absolute; right: 15px; bottom: 50px;" >
                <img src="images/Vector.png" alt="arrow pointing to the right">
            </div>
            {% if demo.data.audio %}
            <button class="card-audio-button">
                <i class="fas fa-play"></i>
                <audio src="{{ demo.data.audio }}" class="audio-preview"></audio>
            </button>
            {% endif %}
        </div>
        {%- endfor -%}
    </div>
</section>




<section class="highlights">
    <div class="section-title">
        <h1><a href="/tutorials/">Song Tutorials</a></h1>
        <p>TunePad <a href="/tutorials/">tutorials</a> give step-by-step instructions for recreating popular songs.</p>
    </div>
    <a class="more-info" href="/tutorials/">Browse all {{ collections.tutorials.length }} tutorials &#8680;</a>
    <div class="cards">
        {%- for demo in collections.tutorials | limit(4) -%}
        <div class="vcard" data-url="{{ demo.url }}">
            <div class="card-image">
                <img src="{{ demo.data.splash }}" alt="{{ demo.data.title }}">
            </div>
            <div class="card-info">
                <h1>{{ demo.data.title }}</h1>
                {{ demo.data.description }}
            </div>
            {% if demo.data.audio %}
            <button class="card-audio-button">
                <i class="fas fa-play"></i>
                <audio src="{{ demo.data.audio }}" class="audio-preview"></audio>
            </button>
            {% endif %}
            <div class="level-badge">{{ demo.data.level }}</div>
        </div>
        {%- endfor -%}
    </div>
</section>




<section class="highlights">
    <div class="section-title">
        <h1><a href="/puzzlers/">TunePad Puzzlers</a></h1>
        <p>TunePad <a href="/puzzlers/">puzzlers</a> are games and challenges designed to sharpen your music+coding skills.</p>
    </div>
    <a class="more-info" href="/learn/">Browse all {{ collections.puzzles.length }} puzzlers &#8680;</a>
    <div class="cards">
        {%- for demo in collections.puzzles | limit(4) -%}
        <div class="vcard" data-url="{{ demo.url }}">
            <div class="card-image">
                <img src="{{ demo.data.splash }}" alt="{{ demo.data.title }}">
            </div>
            <div class="card-info">
                <h1>{{ demo.data.title }}</h1>
                {{ demo.data.description }}
            </div>
            {% if demo.data.audio %}
            <button class="card-audio-button">
                <i class="fas fa-play"></i>
                <audio src="{{ demo.data.audio }}" class="audio-preview"></audio>
            </button>
            {% endif %}
            <div class="level-badge">{{ demo.data.level }}</div>
        </div>
        {%- endfor -%}
    </div>
</section>




<section class="highlights">
    <div class="section-title">
        <h1><a href="/interactives/">TunePad Interactives</a></h1>
        <p>TunePad <a href="/interactives/">interactives</a> are tools to help explore the connections between music and code.</p>
    </div>
    <a class="more-info" href="/learn/">Browse all {{ collections.interactive.length }} interactives &#8680;</a>
    <div class="cards">
        {%- for demo in collections.interactive | limit(4) -%}
        <div class="vcard" data-url="{{ demo.url }}">
            <div class="card-image">
                <img src="{{ demo.data.splash }}" alt="{{ demo.data.title }}">
            </div>
            <div class="card-info">
                <h1>{{ demo.data.title }}</h1>
                {{ demo.data.description }}
            </div>
            {% if demo.data.audio %}
            <button class="card-audio-button">
                <i class="fas fa-play"></i>
                <audio src="{{ demo.data.audio }}" class="audio-preview"></audio>
            </button>
            {% endif %}
            <div class="level-badge">{{ demo.data.level }}</div>
        </div>
        {%- endfor -%}
    </div>
</section>


<section class="highlights">
    <img src="/images/splash/docs-splash.png" width="300px" style="float: right; margin: 1rem" alt="">
    <h1><a href="/docs/">TunePad Documentation</a></h1>
    <p>Ready to dig in? Read the <a href="/docs/">documentation</a> for all of the TunePad functions and modules.</p>
    <br clear="all">
</section>
{% endblock %}
