---
layout: /layouts/collection
title: TunePad Interactives
description: A collection of interactive learning tools that explore the intersection of music and code. Each interactive can be used on its own or embedded in other pages.
splash: /images/splash/interactives-splash.png
---
{% block body %}
<div class="cards">
{%- for demo in collections.interactive -%}
    <div class="card" data-url="{{ demo.url }}">
        <div class="card-image">
            <img src="{{ demo.data.splash }}" alt="{{ demo.data.title }}">
        </div>
        <div class="card-info">
            <h1>{{ demo.data.title }}</h1>
            {{ demo.data.description }}
        </div>
    </div>
{%- endfor -%}
</div>
{% endblock %}
