---
layout: layouts/curriculum.njk
title: Getting Started with TunePad
subtitle: This collection of activities introduces core concepts in music and Python programming. The materials are designed for beginners who are new to both music and code.
splash: /images/splash/curriculum-splash2.png
---
{% block body %}
<div class="cards">
{%- for demo in collections.learn -%}
    <div class="card" data-url="{{ demo.url }}">
        <div class="card-image">
            <img src="{{ demo.data.splash }}" alt="{{ demo.data.title }}">
        </div>
        <div class="card-info">
            <h1>{{ demo.data.title }}</h1>
            {{ demo.data.description }}
        </div>
        {% if demo.data.audio %}
        <button class="card-audio-button">
            <i class="fas fa-play"></i>
            <audio src="{{ demo.data.audio }}" class="audio-preview"></audio>
        </button>
        {% endif %}
        <div class="level-badge">{{ demo.data.category }}</div>
    </div>
{%- endfor -%}
</div>

{% endblock %}
