---
layout: layouts/collection.njk
title: Learn TunePad
subtitle: Introduction to music and code
description: This collection of activities introduces foundational concepts of music and Python programming.
splash: /images/splash/curriculum-splash.png
---
{% block body %}
<div class="cards">
{%- for demo in collections.learn -%}
    <div class="card" data-url="{{ demo.url }}">
        <div class="card-image">
            <img src="{{ demo.data.splash }}" alt="{{ demo.data.title }}">
        </div>
        <div class="card-info">
            <h1>{{ demo.data.title }}</h1>
            {{ demo.data.description }}
        </div>
        {% if demo.data.audio %}
        <button class="card-audio-button">
            <i class="fas fa-play"></i>
            <audio src="{{ demo.data.audio }}" class="audio-preview"></audio>
        </button>
        {% endif %}
        <div class="level-badge">{{ demo.data.category }}</div>
    </div>
{%- endfor -%}
</div>

{% endblock %}
