---
title: TEACH TunePad
subtitle: Resources for Educators
description: This page offers activities, curriculum guides, and other resources for teachers looking to incorporate TunePad in the classroom.
splash: /images/splash/curriculum-splash2.png
---
{% extends "layouts/collection2.njk" %}