---
layout: layouts/collection.njk
title: TunePad Tutorials and Covers
description: These step-by-step interactive tutorials help you recreate popular music in TunePad while building up your music+coding skillset.
splash: /images/splash/tutorials-splash.jpg
---
{% block body %}
<section class="highlights">
    <h1>Song Tutorials</h1>
    <div class="cards">
    {%- for demo in collections.tutorials -%}
        <div class="card" data-url="{{ demo.url }}">
            <div class="card-image">
                <img src="{{ demo.data.splash }}" alt="{{ demo.data.title }}">
            </div>
            <div class="card-info">
                <h1>{{ demo.data.title }}</h1>
                {{ demo.data.description }}
            </div>
            {% if demo.data.audio %}
            <button class="card-audio-button">
                <i class="fas fa-play"></i>
                <audio src="{{ demo.data.audio }}" class="audio-preview"></audio>
            </button>
            {% endif %}
            <div class="level-badge">{{ demo.data.level }}</div>
        </div>
    {%- endfor -%}
    </div>
</section>


<section class="highlights">
    <h1>TunePad Covers</h1>
    <div class="vcards">
    {%- for demo in collections.covers -%}
        <div class="vcard" data-url="{{ demo.url }}">
            <div class="card-image">
                <img src="{{ demo.data.splash }}" alt="{{ demo.data.title }}">
            </div>
            <div class="card-info">
                <h1>{{ demo.data.title }}</h1>
                {{ demo.data.description }}<br><small>{{ demo.data.authors }}</small>
            </div>
            {% if demo.data.audio %}
            <button class="card-audio-button">
                <i class="fas fa-play"></i>
                <audio src="{{ demo.data.audio }}" class="audio-preview"></audio>
            </button>
            {% endif %}
            <div class="level-badge">{{ demo.data.level }}</div>
        </div>
    {%- endfor -%}
    </div>
</section>
{% endblock %}
