<div id="scale-container">
  <!-- <button id="button">Major</button>  -->
  <!-- <text x="4.5" y="8" class="button-text">Major</text> -->
  <svg id="scale-svg" class="container" version="1.1" viewBox="0 0 100 200">
    <!--Major/Minor Button-->
    <!-- <rect id="button" width="15" height="10" x="2" y="2" rx="2" ry="2" fill="black" fill-opacity="0.3" />
    <text x="4.5" y="8" class="button-text">Major</text> -->

    <!--Wheel-->
    <!-- <g id="music-wheel" transform="rotate(0 50 35)">
      <path class="wheel C"
        d="M 50 35
        L 36.981 7.972
        A 30 30 0 0 1 63.014 7.97
        L 50 35" />
      <text x="47.5" y="20" class="title">C</text>

      <path class="wheel D"
        d="M 50 35
        L 63.014 7.97
        A 30 30 0 0 1 79.248 28.323
        L 50 35" />
      <text x="61" y="27" class="title">D</text>

      <path class="wheel E"
        d="M 50 35
        L 79.248 28.323
        A 30 30 0 0 1 73.455 53.704
        L 50 35" />
      <text x="64" y="41.5" class="title">E</text>

      <path class="wheel F"
        d="M 50 35
        L 73.455 53.704
        A 30 30 0 0 1 50 65
        L 50 35" />
      <text x="55.5" y="54" class="title">F</text>

      <path class="wheel G"
        d="M 50 35
        L 50 65
        A 30 30 0 0 1 26.548 53.708
        L 50 35" />
      <text x="40" y="53.5" class="title">G</text>

      <path class="wheel A"
        d="M 50 35
        L 26.548 53.708
        A 30 30 0 0 1 20.751 28.328
        L 50 35" />
      <text x="31.5" y="41" class="title">A</text>

      <path class="wheel B"
        d="M 50 35
        L 20.751 28.328
        A 30 30 0 0 1 36.981 7.972
        L 50 35" />
      <text x="34" y="26.5" class="title">B</text>
    </g> -->
    <!--<circle cx="50" cy="35" r="15" fill="grey" fill-opacity="0.5"/>-->

    <!--Picker-->
    <!-- <polygon points="50,9 47,2 53,2" fill="grey" fill-opacity="0.8"/> -->

    <!--Staff-->
      <!--Lines 3.25px apart-->
    <!-- <line class="lines" x1="0" y1="70" x2="100" y2="70" />
    <line class="lines" x1="0" y1="73.25" x2="100" y2="73.25" />
    <line class="lines" x1="0" y1="76.5" x2="100" y2="76.5" />
    <line class="lines" x1="0" y1="79.75" x2="100" y2="79.75" />
    <line class="lines" x1="0" y1="83" x2="100" y2="83" /> -->
    <!-- <image href="/assets/images/treble_clef.png" x="0" y="64" width="15" height="25" /> -->
    
    <!--Notes-->
      <!--Notes 12px horiz, 1.6px vert apart-->
      <!--Stems 8.7px long-->
    <!--C-->
    <!-- <g id="C-note" class="C note">
      <ellipse cx="19" cy="86" rx="2" ry="1.2" transform="rotate(-18, 19, 86)" />
      <line x1="20.9" y1="85.2" x2="20.9" y2="76.5" /> 
      <line x1="16" y1="86.25" x2="21.7" y2="86.25" />
    </g> -->

    <!--D-->
    <!-- <g id="D-note" class="D note">
      <ellipse cx="31" cy="84.4" rx="2" ry="1.2" transform="rotate(-18, 31, 84.4)" />
      <line x1="32.9" y1="83.8" x2="32.9" y2="75.1" />
    </g> -->

    <!--E-->
    <!-- <g id="E-note" class="E note">
      <ellipse cx="42" cy="82.8" rx="2" ry="1.2" transform="rotate(-18, 42, 82.8)" />
      <line x1="43.9" y1="82.3" x2="43.9" y2="73.6" />
    </g> -->

    <!--F-->
    <!-- <g id="F-note" class="F note">
      <ellipse cx="54" cy="81.2" rx="2" ry="1.2" transform="rotate(-18, 54, 81.2)" />
      <line x1="55.9" y1="80.9" x2="55.9" y2="72.2" />
    </g> -->

    <!--G-->
    <!-- <g id="G-note" class="G note">
      <ellipse cx="66" cy="79.6" rx="2" ry="1.2" transform="rotate(-18, 66, 79.6)" />
      <line x1="67.9" y1="79.5" x2="67.9" y2="70.8" />
    </g> -->

    <!--A-->
    <!-- <g id="A-note" class="A note">
      <ellipse cx="78" cy="78" rx="2" ry="1.2" transform="rotate(-18, 78, 78)" />
      <line x1="79.9" y1="78.1" x2="79.9" y2="69.4" />
    </g> -->

    <!--B-->
    <!-- <g id="B-note" class="B note">
      <ellipse cx="90" cy="76.4" rx="2" ry="1.2" transform="rotate(-18, 90, 76.4)" />
      <line x1="88.1" y1="77.3" x2="88.1" y2="86" />
    </g> -->

    <!--Whole/Half Steps-->
    <!-- <g id="steps">
      <polyline class="whole"
        points="19 88, 25 92, 
          25 92, 31 86.4" />
      <polyline class="whole"
        points="31 86.4, 37 90.6, 
          37 90.6, 43 84.8" />
      <polyline class="half"
        points="43 84.8, 49 89.2, 
          49 89.2, 55 83.2" />
      <polyline class="whole"
        points="55 83.2, 61 87.8, 
          61 87.8, 67 81.6" />
      <polyline class="whole"
        points="67 81.6, 73 86.4, 
          73 86.4, 79 80" />
      <polyline class="whole"
        points="79 80, 85 85, 
          85 85, 91 78.4" />
    </g> -->

    <!--Code-->
    <!-- <g id="code-block">
      <rect width="38" height="44.5" x="31" y="99" rx="2" ry="2" fill="black" fill-opacity="0.7"/>
      <text x="36" y="105" class="code C">playNote(60)</text>  
      <text x="36" y="110" class="code D">playNote(62)</text>  
      <text x="36" y="115" class="code E">playNote(64)</text>
      <text x="36" y="120" class="code F">playNote(65)</text>    
      <text x="36" y="125" class="code G">playNote(67)</text>  
      <text x="36" y="130" class="code A">playNote(69)</text> 
      <text x="36" y="135" class="code B">playNote(71)</text>  
      <text x="36" y="140" class="code C">playNote(72)</text>  
    </g>   -->
  </svg>
</div>