@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.piano-wrapper {
    width: 95%;
    margin: 2rem auto;
    padding: 1rem 0;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
#code-hint {
    margin: 0rem 1rem 1rem 1.5rem;
    padding: 0.5rem 1rem;
    background: #757f79;
    width: 50%;
    height: 40px;
    border: 3px solid #887;
    font-size: 120%;
    border-radius: 5px;
    text-shadow: 1px 1px 2px #000a;
    box-shadow: 1px 1px 2px #0008 inset;
    user-select: none;
    box-sizing: border-box;
}
.shelf {
    display: flex;
    padding-right: 1.5rem;
}
.keyboard-wrapper {
    display: flex;
}
#copy-button {
    color: #fffc;
    outline: none;
    border: 1px solid #fffc;
    font-size: 90%;
    height: 30px;
    margin: 5px 0;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 500;
}
#copy-button:hover { color: #fff; }
#copy-button:active { color: rgb(121, 216, 245); }
piano-keyboard { flex: 1; }
.octave-button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fffc;
    font-size: 200%;
}
.octave-button:hover { color: #fff; }
.octave-button:active { color: rgb(121, 216, 245); }
