/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Inter:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --pagefind-ui-scale: 0.7 !important;
    --theme-color: #791791;
    font-size: 14px;
    --body-font: 'Nunito Sans', sans-serif;
    --header-font: "Merriweather", serif;
}
* {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    margin: 0;
    overscroll-behavior: none;
}

nav.top-nav {
    position: fixed;
    border-bottom: 1px solid #0002;
    display: flex;
    flex-direction: row;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem 4rem;
}

.top-nav .logo {
    width: 4.5rem;
    min-width: 4.5rem;
    margin-right: 1rem;
}

.top-nav .top-menu-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-menu-wrapper h1 {
    font-family: var(--header-font);
    margin: 0 1rem 0.75rem 0;
}
.top-menu-wrapper h1 a {
    color: black;
    text-decoration: none;
}
.top-menu-wrapper h1 a:hover {
    text-decoration: underline;
}

ul.top-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 2rem;
    box-sizing: border-box;
}

.top-menu li {
    margin-right: 2em;
}
.top-menu li a {
    text-decoration: none;
    color: black;
    text-wrap: nowrap;
    font-size: 15px;
    padding-bottom: 0.3rem;
    border-bottom: 4px solid transparent;
}
.top-menu li a:hover, .top-menu li a.selected {
    border-bottom: 4px solid var(--theme-color);
}
.top-menu li.expander {
    flex: 2;
    border-bottom: 4px solid transparent;
}

.top-nav button.show-menu {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    background: transparent;
    font-size: 150%;
    display: none;
    cursor: pointer;
}

.search {
    background-color: #fdfdfd;
}

.pagefind-ui__drawer {
    position: absolute !important;
    border: 1px solid #0003 !important;
    padding: 0 2em 2em 2em !important;
    background-color: #fefefe !important;
    width: 500px !important;
    right: 0 !important;
    border-radius: 1em !important;
    max-height: 85vh !important;
    overflow-y: auto !important;
}

main {
    margin: 8rem auto 0 auto;
    display: flex;
}

nav.toc {
    width: 240px;
    min-width: 240px;
    padding: 2rem 0rem 2rem 2rem;
    /*border-right: 1px solid #0002;*/
}
.toc h1 {
    margin: 0;
    font-size: 15px;
    margin-top: 1.5rem;
    border-bottom: 1px solid #0005;
}
.toc h1:first-child {
    margin-top: 1rem;
}
.toc ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;
    line-height: 200%;
}
.toc ul ul {
    padding-top: 1em;
    padding-left: 2em;
}
.toc li {
    padding-left: 1em;
}
.toc li.highlight {
    background-color: #79179133;
}
.toc a {
    color: black;
    text-decoration: none;
}
.toc a:hover {
    text-decoration: underline;
}

article {
    text-align: left;
    padding: 0;
    position: relative;
    margin: 0;
    width: 100vw;
}

header {
    text-align: center;
    margin: 1rem auto;
}
header .splash-container {
    max-width: 450px;
    display: inline-block;
}
header .splash-image-wrapper {
    position: relative;
}
header .splash-image {
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}
.splash-container .audio-button {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    color: #DDD;
    right: 10px;
    bottom: 10px;
    padding: unset;
    margin: 0 auto;
    border: none;
    outline: none;
}
.splash-container .audio-button:hover {
    background-color: rgba(50, 50, 50, 0.9);
}
.splash-container .audio-preview {
    display: none;
}
header .title-container {
    max-width: 500px;
    padding: 1rem 3rem 0 3rem;
    vertical-align: top;
    display: inline-block;
    width: 100%;
}

.logo-nugget {
    width: 70px;
    height: 70px;
    background-image: url('/images/logo-black.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    margin: 1rem auto;
    border-radius: 50%;
}

h1.page-title {
    font-family: var(--header-font);
    font-size: 20pt;
    margin: 0.5rem 0;
    text-align: center;
}

h2.page-subtitle {
    font-family: var(--body-font);
    font-size: 16px;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    text-align: center;
}

aside.disclaimer {
    font-size: 12px;
    font-style: italic;
    display: block;
    opacity: 0.7;
    margin: 0.5rem 0;
}

.authors {
    text-align: center;
    font-style: italic;
}

main h3 {
    font-family: var(--body-font);
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    color: var(--theme-color);
}

.info-box {
    border-top: 1px solid #0005;
    border-bottom: 1px solid #0005;
    margin: 2rem;
    display: flex;
    text-align: left;
    padding: 0.5em 1.5em;
    flex-wrap: wrap;
}
.info-box div {
    flex: 1;
    font-size: 16px;
}

.resource-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
}

.resource-box button,
.resource-box a.button {
    border: none;
    outline: none;
    padding: 0;
    border-radius: 0.4em;
    background: var(--theme-color);
    color: white;
    font-size: 110%;
    margin: 0 0.5rem;
    text-align: center;
    text-decoration: none;
    width: 7em;
    height: 2em;
    line-height: 2em;
}
.resource-box button:hover,
.resource-box a.button:hover {
    text-decoration: underline;
}
.resource-box button i,
.resource-box a.button i {
    margin-right: 8px;
}
article .content-wrapper {
    margin: 0 1rem;
}
article .footer-wrapper {
    padding: 2rem 1rem;
    background-color: #333;
    color: #fff9;
}

article .content,
article footer {
    max-width: 1000px;
    margin: 0 auto 2rem auto;
}

article footer.license {
    font-size: 12px;
    font-family: var(--body-font);
    padding-right: 135px;
    line-height: 150%;
    background-image: url('https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png');
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center right;
}

article footer.menu {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

footer .affiliates {
	min-width: 360px;
    flex: 0;
	background-image: url('/images/affiliates.svg');
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	min-height: 75px;
    margin-right: 6rem;
    margin-bottom: 3rem;
}

footer .section-wrapper {
	display: flex;
	flex-direction: row;
	min-width: 250px;
}

footer section {
	font-size: 14px;
	flex: 1;
	color: #fff9;
	padding: 0;
	display: block;
	margin-right: 2em;
	min-width: 90px;
}
footer section p {
	margin: 5px 0;
	font-size: 12px;
	font-weight: 400;
}

footer section h3 {
	margin: 0;
    color: #fffc;
}

footer section a {
	color: #EEE;
	text-decoration: none;
}

footer section a:hover {
	text-decoration: underline;
	color: #FFF;
}

footer section a:visited {
	color: inherit;
	text-decoration: none;
}

footer section a.footlink {
	color: #fff7;
	display: block;
	margin: 5px 0;
	text-decoration: none;
	font-weight: 400;
}

footer section a.footlink:hover {
	color: white;
	text-decoration: underline;
}

footer section a.footlink.contribute {
    color: #EA738D;
    font-weight: 700;
}


article .content h1 {
    font-family: var(--header-font);
    font-size: 20px;
    margin-top: 3rem;
    margin-bottom: 0.25rem;
}
article .content h1:first-child {
    margin-top: 1rem;
}
article .content h1 a {
    color: black;
    text-decoration: none;
}
article .content h1 a:hover {
    text-decoration: underline;
}

article .content h2 {
    font-family: var(--header-font);
    font-size: 20px;
    margin-top: 1.5rem;
    margin-bottom: 0.5em;
}

article p {
    margin-top: 0;
    font-size: 15px;
    max-width: 800px;
}
article p code, article li code {
    color: var(--theme-color);
    font-weight: 700;
}
article li {
    font-size: 15px;
}

article img {
    max-width: 80%;
    display: block;
    margin: 2em auto;
}

article td img {
    display: inline;
    margin: 0;
}

article ul {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 1em;
}

article li {
    padding-bottom: 0.5em;
}

article table {
    border: 1px solid black;
    background-color: #eef2f5;
    padding: 1em;
    margin: 2em auto;
    min-width: 300px;
}
article table td, article table th {
    padding: 0.5em 0.75em;
    vertical-align: top;
}

.page-break {
    page-break-after: always;
    margin-top: 2em;
    border-top: 1px solid #0005;
}

pre {
    counter-reset: lineNumber;
}

article pre[class*="language-python"] {
    padding-left: 0.5em;
    max-width: 650px;
    border-radius: 0.75em;
    margin-bottom: 2rem;
    font-size: 12px;
    margin-left: 3rem;
}

pre[class*="language-python"] code .highlight-line:before {
    user-select: none;
    border-right: 1px solid #404040;
    color: #858585;
    content: counter(lineNumber);
    counter-increment: lineNumber;
    display: inline-block;
    font-variant-numeric: tabular-nums;
    margin-right: 1em;
    padding-right: 1em;
    text-align: right;
    width: 2em;
}

nav.prev-next {
    display: flex;
}

nav.prev-next .spacer {
    flex: 1;
}

nav.prev-next a {
    display: flex;
    min-width: 170px;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}
nav.prev-next a:hover {
    background-color: #0003;
}

nav.prev-next .fas {
    line-height: 2em;
    font-size: 130%;
}
nav.prev-next .stacker {
    margin: 0 0.75em;
    flex: 1;
}

.error-message {
    background-color: #fdfdfd;
    border: 1px solid #0001;
    padding: 15px;
    border-left: 14px solid #da575d;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em;
    max-width: 600px;
}
.error-name {
    font-weight: 200;
    color: #445;
    margin-bottom: 5px;
    font-size: 120%;
}
.error-name i.fas {
    color: #da575d;
    margin-right: 5px;
    font-size: 120%;
}
.error-description {
    background-color: #f9e4e5;
    padding: 15px;
    font-family: monospace;
    color: #444;
    margin-top: 12px;
    line-height: 150%;
    font-size: 12px;
}

iframe.tunepad-iframe {
    width: 100%;
    min-width: 750px;
    border: none;
    outline: none;
    height: 500px;
    overflow: hidden;
}

iframe.composer-iframe {
    width: 100%; 
    min-width: 660px; 
    height: 320px; 
    overflow: hidden; 
    border: none;
    outline: none;
    transform: scale(0.9);
    transform-origin: 0 0;
    margin-bottom: -15px;
}

/* Card for collection layout */
.cards {
    text-align: center;
}
.card, .vcard {
    display: inline-block;
    margin: 2rem 20px 0 0;
    padding: 1em;
    border: 1px solid #0002;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.card {
    width: 480px;
    height: 175px;
}
.vcard {
    width: 225px;
    height: 300px;
    padding: 0;
    margin: 1rem 20px 1rem 0;
}

.card:hover, .vcard:hover {
    box-shadow: 4px 4px 4px #0002;
}
.card .card-image, .card-info {
    height: 100%;
    display: inline-block;
    max-width: 220px;
    vertical-align: top;
    text-align: left;
}
.card .card-image img {
    margin: 0;
    max-width: unset;
    height: 100%;
}
.vcard .card-image, .vcard .card-info {
    width: 100%;
    display: block;
    text-align: left;
}
.vcard .card-image img {
    width: 100%;
    max-width: unset;
    margin: 0;
}
.vcard .card-image .ar-fix-image {
    background-image: url('/images/logo-happy.svg');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 223px;
}
.card-info {
    padding-left: 1em;
}
.vcard .card-info {
    padding: 1rem;
    font-size: 13px;
}
.card .card-info h1 {
    margin: 8px 0;
    font-size: 15px;
}
.vcard .card-info h1 {
    margin: 4px 0;
    font-size: 15px;
}
.card-info .author {
    font-size: 85%;
    margin-top: 0.75rem;
}
.card-info .summary {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 38px;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card-audio-button {
    position: absolute;
    width: 44px;
    height: 20px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 10px;
    color: white;
    left: 250px;
    bottom: 12px;
    padding: unset;
    margin: 0 auto;
    border: none;
    outline: none;
}
.vcard .card-audio-button {
    left: 15px;
    bottom: 10px;
}
.card .level-badge, .vcard .level-badge {
    position: absolute;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    bottom: 12px;
    right: 15px;
    color: var(--theme-color);
}

a.more-info {
    display: block;
    text-align: right;
    margin: 1rem 5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a.more-info:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    nav.top-nav { padding: 1rem; }
    .top-nav button.show-menu { display: block; }
    .top-nav .logo { width: 3rem; min-width: 3rem; }
    .top-menu-wrapper h1 { line-height: 3rem; margin-bottom: 0; }
    main { margin-top: 5rem; }
    .toc { display: none; }
    .top-nav ul.top-menu { 
        display: none;
        position: absolute;
        top: 4.5rem;
        right: 0.5rem;
        width: 200px;
        flex-direction: column;
        background-color: white;
        height: auto;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 0.75em;
        border: 1px solid #ccc;
    }
    .top-nav ul.top-menu.visible { display: block; }
    .top-menu li {
        margin-bottom: 1rem;
    }
}
@media print {
    .resource-box { display: none; }
    article .content { padding: 0 0 0 0.25in; }
    article .content h1 { font-size: 18px; margin-top: 2rem; }
    article p { font-size: 12px; font-weight: lighter; max-width: 7in; }
    article li { font-size: 12px; font-weight: lighter; max-width: 7in; }
    article .content-wrapper { margin-top: 0; }
    article .footer-wrapper { background-color: transparent; border-top: 1px solid black; margin-top: 1.5rem; }
    article footer { color: black; font-size: 11px; }
    article footer.menu { display: none; }
    article pre[class*="language-python"] { font-size: 10px; border: 1px solid #0005; max-width: 550px; margin-left: 3rem; }
    section.content { border-top: none !important; }
    nav.top-nav { display: none; }
    main { margin-top: 1rem; }
    header { margin-bottom: 0; }
    header .title-container { max-width: 400px; padding: 0.5rem; }
    header .splash-container { max-width: 250px; }
    .splash-container .audio-button { display: none; }
    aside.disclaimer { margin: 0.5rem auto; font-size: 9px; }
    .info-box { margin: 0 auto 1em auto; max-width: 350px;}
    .info-box div { font-size: 15px; }
    .toc { display: none; }
    .noprint { display: none; }
    h1.page-title { font-size: 20px; }
}
