@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --main-bg-color: #f0e6e1;
  --hero-color: rgb(52, 68, 88);
  --hero-highlight: #f18b05;
  --hero-orange: #fd974f;
  --active-color: #2f9aef;
  --piano-color: #2f9aef;
  --guitar-color: #f0c229;
  --marimba-color: #f6843f;
  --sequencer-color: #f6843f;
  --bass-color: #ec5eb2;
  --drum-color: #86c44e;
  --drum-color-dim: #628742;
  --sound-color: lightseagreen;
  --text-color: #30acac;
  --definitions-color: #996dd9;
  --header-bg-color: #2e303f;
  --mixer-track-pad: 15px;
  --error-color: #da575d;
  --main-font: "Nunito", sans-serif;
  --title-font: "Nunito Sans", sans-serif;
  --impact-font: "Alegreya Sans", sans-serif;
  --nav-color: #414251;
  --warning-color: #2f9aef;
  --warning-flash-color: #4bf;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
  margin: 1em;
  padding: 0;
}

body.embedded {
  margin: 0;
}

.instrument {
  min-width: 660px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.instrument svg {
  background-color: #2e303f;
}

.instrument .scroll-container {
  width: 100%;
  border-left: 2px solid #414252;
  border-right: 2px solid #414252;
  background-color: #2e303f;
}

.sequencer {
  display: block;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-top: 7px;
  padding-bottom: 5px;
  background: #535563;
  border-top: 2px solid #667;
  border-bottom: 2px solid #667;
  border-left: 2px solid #414252;
  border-right: 2px solid #414252;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-right: 1.5em;
}

.buttons .expander {
  flex: 1;
}
.buttons h3 {
  font-family: var(--main-font);
  font-weight: bold;
  margin: 0;
}
.instrument button {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.75);
  background-color: #fff2;
  box-shadow: 2px 2px 3px rgb(0 0 0 / 10%);
  width: 45px;
  height: 28px;
  border-radius: 4px;
  margin: 3px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}
.instrument button:active {
  opacity: 0.5;
}
.instrument button:hover {
  color: var(--active-color);
}
.instrument button.hidden {
  display: none;
}
.instrument .clear-button {
  margin-left: 20px;
}
.instrument button.spinner {
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
  width: unset;
}

.tempo-controls,
.bars-controls {
  display: flex;
  font-family: var(--main-font);
}
.tempo,
.bars {
  color: rgba(255, 255, 255, 0.75);
  line-height: 30px;
  margin: 0 0.25em;
  display: flex;
}
.tempo .value,
.bars .value {
  font-size: 16px;
  font-weight: bold;
}
.units {
  font-size: 14px;
  font-weight: normal;
  margin-left: 0.25em;
}

.instrument .gutter {
  height: 1em;
  background: #535563;
  border-left: 2px solid #414252;
  border-right: 2px solid #414252;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid #667;
}

.instrument .embed-wrapper {
  text-align: right;
}
.embed-wrapper button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #000a;
  width: auto;
  box-shadow: none;
}
.embed-info {
  background-color: #eee;
  font-family: monospace;
  padding: 2rem;
  text-align: left;
  margin-left: 10rem;
  border-radius: 1rem;
  user-select: text;
}
.embed-info.hidden {
  display: none;
}

.code-hint-container {
  position: relative;
}

.code-hint-container h2 {
  margin-top: 2em;
  font-family: var(--main-font);
}

button.copy-code-button {
  position: absolute;
  top: 4em;
  right: 2em;
  color: #0009;
  padding: 0 1.5em;
  font-size: 15px;
  border: 1px solid #0004;
  z-index: 100;
  width: auto;
}

.code-hint {
  border-radius: 1.5em;
  padding: 8px 0px;
  /*margin-bottom: 30px;*/
  font-size: 15px;
}

.code-hint.indented {
  padding: 8px 90px;
  min-height: 30px;
}

#display-code-icon {
  font-size: 10pt;
  color: #ccc;
}

.grid-note {
  fill: #555;
  stroke: white;
  stroke-opacity: 0.4;
  stroke-width: 1;
}

.grid-note.darker {
  fill: #3a3a3a;
}

.grid-note.active {
  fill: var(--drum-color);
}
.grid-note.bass {
  fill: var(--bass-color);
}
.grid-note.drone {
  fill: var(--marimba-color);
}

.grid-note.dragging {
  stroke: white;
  stroke-width: 5;
  stroke-opacity: 0.85;
}

.grid-handle {
  fill: #fff5;
  fill-opacity: 0;
  cursor: ew-resize;
}

.drum-name {
  font-family: var(--main-font);
  fill: white;
  fill-opacity: 0.7;
  font-size: 14px;
  text-anchor: end;
  user-select: none;
  /* text-decoration: underline; */
}

.beat-number {
  font-family: var(--main-font);
  fill: white;
  fill-opacity: 0.7;
  font-size: 14px;
  text-anchor: middle;
  user-select: none;
}

.playhead {
  stroke: gold;
  stroke-width: 4;
}

.voice-selector {
  outline: none;
  font-family: var(--main-font);
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  flex: 1;
  box-sizing: border-box;
  position: relative;
}
.voice-menu {
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: 600;
  min-width: 150px;
  /*    
    color: rgba(255, 255, 255, 0.75);
    background-color: #fff2;
*/
  height: 28px;
  border-radius: 4px;
  font-size: 120%;
  font-weight: normal;
  padding: 0 0.5em;
  border: 1px solid #fff5;
  margin: 3px;
}
/*.toolbar .load-button {
  font-size: 100%;
  line-height: 100%;
}
.toolbar .load-button i.fas {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.toolbar.instrument-toolbar {
  padding: 0 0 8px 0;
  border: none;
  border-color: transparent;
}*/
.voice-selector .drop-menu.voice-menu {
  top: 29px;
  overflow: visible;
  width: 200px;
}
.voice-selector .drop-menu.voice-menu {
  top: 29px;
  overflow: visible;
  width: 200px;
}

.voice-selector .voice-name {
  flex: 1;
  font-weight: 500;
  text-align: center;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow-y: hidden;
}
.voice-selector i.fa {
  width: 15px;
  line-height: 23px;
  margin-right: 5px;
}

.drop-menu.voice-menu .menu-item:hover .drop-menu {
  left: 195px;
  overflow: visible;
  min-width: 200px;
}
.drop-menu.voice-menu .menu-item .fas,
.drop-menu.voice-menu .menu-item .menu-icon {
  width: 1.5em;
  font-size: 75%;
}

.gadget-icon {
  width: 35px;
  height: 35px;
  position: relative;
  top: -2px;
  background-color: var(--piano-color);
  border-radius: 50%;
  margin-right: 10px;
  background-image: url("../images/instruments/synth.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 11px;
  margin-right: 20px;
}

.gadget-icon.bass {
  background-color: var(--bass-color);
  background-image: url("../images/instruments/bass.svg");
}

.gadget-icon.piano {
  background-color: var(--piano-color);
  background-image: url("../images/instruments/synth.svg");
}
.gadget-icon.drums,
.gadget-icon.drumkit {
  background-color: var(--drum-color);
  background-image: url("../images/instruments/drumkit.svg");
}

/* prevents the iPad buttons to be stuck with the hover state */
@media (hover: none) {
  .instrument button:hover { color: rgba(255, 255, 255, 0.75) !important;}
}

@media print {
  .buttons { display: none; }
  .gutter { display: none; }
  .embed-wrapper { display: none; }
  .drum-name { fill: black; }
  .instrument .scroll-container { border: none; }
  .playhead { display: none; }
  .code-hint-container { display: none; }
  .beat-number { fill: black; }
}