<!doctype html>
<html lang="en">
    <head>
        {% block header %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="{{ title }}">
        <meta property=”og:type” content="article">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="https://learn.tunepad.com{{ splash }}">
        <meta property="og:url" content="https://learn.tunepad.com{{ page.url }}">
        <meta property="og:site_name" content="Learn TunePad">
        <meta property="og:locale" content="en_US" />
        <meta name="title" content="{{ title }}">
        <meta name="description" content="{{ description }}">
        <link rel="icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.5.0/prism-coldark-cold.min.css">
        <link rel="stylesheet" href="/css/fontawesome.all.min.css">
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
        <title>{{ title }}</title>
        <script>
            function showMenu() {
                document.querySelector(".top-menu").classList.toggle('visible');
            }
        </script>
        {% endblock %}
    </head>
  <body>
    <nav class="top-nav">
        <a class="logo" title="Learn TunePad" href="/" aria-label="Home">
            <img src="/images/learn-logo-small.svg" alt="Learn TunePad" width="100%">
        </a>
        <div class="top-menu-wrapper">
            <h1><a href="/" aria-label="Home">Learn&nbsp;TunePad</a></h1>
            <ul class="top-menu">
                <li><a href="/learn/">Getting Started</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="/interactives">Interactives</a></li>
                <li><a href="/puzzlers">Puzzlers</a></li>
                <!-- <li><a href="/curriculum">Curriculum</a></li> -->
                <li><a href="/docs">Docs</a></li>
                <li class="expander"></li>
            </ul>
        </div>
        <div id="search" class="search"></div>
        <button class="show-menu" aria-label="Menu" onclick="showMenu()"><i class="fas fa-bars"></i></button>
    </nav>
    <main>
        {% set nextPage = false %}
        {% set prevPage = false %}

        {% if showtoc %}
        <nav class="toc">
            {% for item in toc.contents %}
                <h1><a href="{{ item.url }}">{{ item.title }}</a></h1>
                {% if item.contents %}
                <ul>
                    {% for subitem in item.contents %}
                        {% if subitem.url == page.url %}
                            {% set i = loop.index0 %}
                            {% set nextPage = item.contents[i + 1] %}
                            {% set prevPage = item.contents[i - 1] %}
                        {% endif %} 
                    <li{% if subitem.url == page.url %} class="highlight"{% endif %}>
                    <a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
        </nav>
        {% endif %}

        <article>

            <!-- HEADER -->
            <header>
                {% block banner %}
                <div class="splash-container">
                    <div class="splash-image-wrapper">
                        {% if audio %}
                        <button class="audio-button">
                            <i class="fas fa-play"></i>
                            <audio src="{{ audio }}" class="audio-preview"></audio>
                        </button>
                        {% endif %}
                        <img class="splash-image" height="400" width="600" src="{{ splash }}" alt="{{ description }}">
                    </div>
                    {% if disclaimer %}
                    <aside class="disclaimer">{{ disclaimer }}</aside>
                    {% endif %}
                </div>
                <div class="title-container">
                    {% if category %}
                    <h3>{{ category }}</h3>
                    {% endif %}
                    <h1 data-pagefind-meta="title" class="page-title">{{ title }}</h1>
                    {% if subtitle %}
                    <h2 class="page-subtitle">{{ subtitle }}</h2>
                    {% endif %}
                    {% if description %}
                    <p>{{ description }}</p>
                    {% endif %}
                    {% if authors %}
                    <div class="authors">{{ authors }}</div>
                    {% endif %}
                    {% block resources %}
                    {% endblock %}
                </div>
                {% endblock %}
            </header>

            <!-- CONTENT -->
            <div class="content-wrapper">
                <section data-pagefind-body class="content">
                    {% block body %}
                    {{ content | safe }}
                    {% endblock %}
                </section>
            </div>

            <nav class="prev-next">
                {% if prevPage %}
                <a href="{{ prevPage.url }}">
                    <i class="fas fa-arrow-left"></i>
                    <div class="stacker">
                        <h3>Previous {{ prevPage.type }}</h3>
                        {{ prevPage.title }}
                    </div>
                </a>
                </div>
                {% endif %}
                <div class="spacer"></div>
                {% if nextPage %}
                <a href="{{ nextPage.url }}">
                    <div class="stacker">
                        <h3>Next {{ nextPage.type }}</h3>
                        {{ nextPage.title }}
                    </div>
                    <i class="fas fa-arrow-right"></i>
                </a>
                {% endif %}
            </nav>


            <!--  FOOTER -->
            <div class="footer-wrapper">
                <footer>
                    {% block footer %}
                    TunePad was created by the TIDAL Lab at Northwestern University. This project was made possible with funding from the National Science Foundation (grants DRL-1612619, DRL‐1451762, and DRL-1837661) and the Verizon Foundation. Any findings or recommendations expressed in this project are those of the authors and do not necessarily reflect the views of our funders.
                    {% endblock %}
                </footer>
            </div>
        </article>
    </main>
  </body>
    <script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', pageSize : 4, showImages: true });"></script>
    <script>
        document.querySelectorAll(".card, .vcard").forEach((el) => {
            let url = el.getAttribute('data-url');
            el.addEventListener('click', (e) => {
                window.open(url, "_self");
            });
        });
        document.querySelectorAll(".audio-button, .card-audio-button").forEach((el) => {
            el.addEventListener('click', (e) => {
                e.stopImmediatePropagation();
                playPausePreview(el);
            });
        });

        function playPreview(audio, icon) {
            icon.classList.remove("fa-play");
            icon.classList.add("fa-pause");
            audio.play();
            audio.addEventListener("ended", e => {
                icon.classList.remove("fa-pause");
                icon.classList.add("fa-play");
            }, {once : true});
        }

        function pausePreview(audio, icon) {
            icon.classList.remove("fa-pause");
            icon.classList.add("fa-play");
            audio.pause();
        }

        function playPausePreview(el) {
            //event.sstopImmediatePropagation();
            const audio = el.querySelector(".audio-preview");
            const icon = el.querySelector("i.fas");
            if (audio && icon) {
                (audio.paused || audio.ended) ? playPreview(audio, icon) : pausePreview(audio, icon);
            }
        }
    </script> 
</html>