---
title: TunePad Interactives
splash: /images/splash/interactives-splash.png
---
{% extends "layouts/base.njk" %}
{% block header %}
    {{ super() }}
<style>
    article .content-wrapper {
        padding: 1rem 2rem 3rem 2rem;
        background-color: #f3f3f3; 
        margin: 0;
    }

    /* Media Query for Mobile and Small Screens */
    @media (max-width: 530px) {
        article {
            width: unset;
        }
    }

</style>
{% endblock %}

{% block resources %}
    <div class="logo-nugget"></div>
{% endblock %}