---
title: TunePad Learn
description: TunePad is a free online platform for creating music with the Python programming language.
splash: /images/logo-black.svg
---
{% extends "layouts/base.njk" %}


{% block header %}
    {{ super() }}
<style>
    header .splash-container {
        width: 275px;
    }
    header .title-container {
        max-width: 675px;
        text-align: left;
    }
    header .info-box {
        margin: 0;
    }
    h1.page-title {
        text-align: left;
    }
    article .content-wrapper {
        padding: 3rem 2rem 3rem 2rem;
        background-color: #f3f3f3; 
        margin: 2rem 0;
    }
    article .content {
        max-width: 900px;
    }
</style>
{% endblock %}

{% block resources %}
    <div class="info-box">
        <div>
            <h3>Grades</h3>
            {{ grades }}
        </div>
        <div>
            <h3>Level</h3>
            {{ level }}
        </div>
        <div>
            <h3>Time</h3>
            {{ time }}
        </div>
    </div>
{% endblock %}
