---
title: TunePad Documentation
description: Python documentation for built-in TunePad functions and modules
splash: /images/splash/docs-splash.png
---
{% extends "layouts/base.njk" %}
{% block header %}
    {{ super() }}
    <style>
        main {
            max-width: unset;
            margin-top: 82px;
        }
        header .title-container {
            max-width: none;
            display: grid;
            justify-items: center;
        }
        header .splash-container {
            display: none;
        }
        code {
            color: var(--theme-color);
        }
        .api p {
            line-height: 150%;
        }
        .api h1, .api h2, .api h4 {
            font-size: 16px;
            border-top: 1px solid #0009;
            font-weight: bold;
            padding-top: 0.75em;
            margin-top: 3em;
            font-family: 'Courier New', Courier, monospace;
        }
        .api h1::before {
            content: "Module: ";
        }
        .api h1 {
            font-size: 22px;
        }
        .api {
            display: flex;
        }
        code .highlight-line {
            padding-left: 1em;
        }
        code .highlight-line:before {
            display: none;
        }
        article pre[class*="language-python"] {
            padding-left: 2rem;
        }
        .docs {
            background-color: whitesmoke;
            padding: 0 2em;
            margin-left: 20px;
        }
        .toc {
            margin-top: calc(1.5rem - 20px);
            padding-bottom: 50px;
            height: 590px;
            position: sticky;
            top: 100px;
            left: 10px;
        }
        .toc ul {
            height: 540px;
            padding-right: 100px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .toc li { padding-bottom: 0; }
        .toc ul li  { font-weight: bold;}
        .toc ul ul { 
            padding: 0; 
            margin-bottom: 0;
            overflow-y: hidden;
            height: min-content;
        }
        .toc ul ul li { font-weight: normal; }
        .toc h1::before { content: none; }
        .toc h1 { 
            border-bottom: 1px solid #0002; 
            border-top: 0px; 
            margin-top: 0px !important;
            padding-top: 0px;
        }
        .toc ul li a:hover, .toc ul ul li a:hover {
            text-decoration: 5px underline #ccd6e4; 
            text-underline-offset: 5px; 
        }
        .highlight {background-color: #ccd6e4;}
        .logo-nugget {
            display: none;
        }
    </style>
{% endblock %}

{% block resources %}
    <div class="logo-nugget"></div>
{% endblock %}

{% block body %}
<div data-pagefind-body class="api">
    {{ content | safe }}
</div>
{% endblock %}
