---
title: TunePad Documentation
description: Python documentation for built-in TunePad functions and modules
splash: /images/splash/docs-splash.png
---
{% extends "layouts/base.njk" %}
{% block header %}
    {{ super() }}
    <style>
        main {
            max-width: unset;
        }
        code {
            color: var(--theme-color);
        }
        .api p {
            line-height: 150%;
        }
        .api h1, .api h2, .api h4 {
            font-size: 16px;
            border-top: 1px solid #0009;
            font-weight: bold;
            padding-top: 0.75em;
            margin-top: 3em;
            font-family: 'Courier New', Courier, monospace;
        }
        .api h1::before {
            content: "Module: ";
        }
        .api h1 {
            font-size: 22px;
        }
        .api {
            display: flex;
        }
        code .highlight-line {
            padding-left: 1em;
        }
        code .highlight-line:before {
            display: none;
        }
        article pre[class*="language-python"] {
            padding-left: 2rem;
        }
        .docs {
            background-color: whitesmoke;
            padding: 0 2em;
        }
        .toc {
            margin-top: 1.5rem;
            padding-right: 20px;
            width: 240px;
            min-width: 240px;
        }
        .toc ul li  { font-weight: bold;}
        .toc ul ul { 
            padding: 0; 
            margin-bottom: 0;
        }
        .toc ul ul li { font-weight: normal; }
        .toc h1::before { content: none; }
        .toc h1 { 
            border-bottom: 1px solid #0002; 
            border-top: 0px; 
        }
        .toc ul li a:hover, .toc ul ul li a:hover {
            text-decoration: 5px underline #ccd6e4; 
            text-underline-offset: 5px; 
        }
        .highlight {background-color: #ccd6e4;}
    </style>
{% endblock %}

{% block resources %}
    <div class="logo-nugget"></div>
{% endblock %}

{% block body %}
<div data-pagefind-body class="api">
    {{ content | safe }}
</div>
{% endblock %}