<!doctype html>
<html lang="en">
<head>
    {% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.5.0/prism-coldark-cold.min.css">
    <title>{{ title }}</title>
    <script src="/js/prism.js"></script>
    <script src="/js/tunepad.min.js"></script>
    <script src="/js/tunepad-codemirror.min.js"></script>
    <style>
        main {
            margin: 1rem 2rem;
            display: block;
        }
    </style>
    {% endblock %}
</head>
<body>
    <main>

        <!-- CONTENT -->
        {% block body %}
        {{ content | safe }}
        {% endblock %}

    </main>
</body>
</html>