---
title: TunePad Beat Composer
description: Experiment with digital drum sounds and create your own rhythmic patterns for TunePad.
splash: /images/splash/composer-splash.png
tags: interactive
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ title }}">
    <meta property=”og:type” content="article">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://learn.tunepad.com{{ splash }}">
    <meta property="og:url" content="https://learn.tunepad.com{{ page.url }}">
    <meta property="og:site_name" content="Learn TunePad">
    <meta property="og:locale" content="en_US" />
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/composer.css">
    <link rel="stylesheet" href="/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="/css/prism.css">

    <title>{{ title }}</title>
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->

    <script defer src="/js/composer.js"></script>
</head>


<body>
    <div id="composer" data-state="composer0">
        <div class="instrument" data-state="drums0">
            <div class="buttons">
            <div class="gadget-icon drums"></div>
            <button class="play-button" title="Play"><i class="fas fa-play"></i></button>
            <button class="pause-button hidden" title="Pause"><i class="fas fa-pause"></i></button>
            <button class="stop-button" title="Stop"><i class="fas fa-square"></i></button>
            <button class="clear-button" title="Clear"><i class="fas fa-trash"></i></button>
            <div class="expander"></div>
            <div class="tempo-controls">
                <button class="spinner tempo-down" title="Slower Tempo"><i class="fas fa-minus"></i></button>
                <div class="tempo">
                    <div class="value" contenteditable>90</div>
                    <div class="units">bpm</div>
                </div>
                <button class="spinner tempo-up" title="Faster Tempo"><i class="fas fa-plus"></i></button>
            </div>
            <div class="expander"></div>
            <div class="bars-controls">
                <button class="spinner bars-down" title="Decrease Measures"><i class="fas fa-minus"></i></button>
                <div class="bars">
                    <div class="value">1</div>
                    <div class="units">bar</div>
                </div>
                <button class="spinner bars-up" title="Increase Measures"><i class="fas fa-plus"></i></button>
            </div>
            
            <div class="expander"></div>
            <div class="voice-selector">
                <select class="voice-menu"></select>
            </div>
            </div>
            <div class="scroll-container"><svg class="sequencer" version="1.1"></svg></div>
            <div class="gutter"></div>
            <div class="embed-wrapper">
                <button class="embed-expand">Show embed code&nbsp;<i class="fas fa-caret-down"></i></button>
                <button class="embed-collapse hidden">Hide embed code&nbsp;<i class="fas fa-caret-up"></i></button>
                <div class="embed-info hidden"></div>
            </div>

            <div class="code-hint-container">
                <!-- <button class="code-button"><i class="fas fa-code" id="display-code-icon"></i></button> -->
                <h2>Python Code</h2>
                <button class="copy-code-button">Copy to Clipboard</button>
                <pre class="code-hint line-numbers language-python"></pre>
            </div>
        </div>
    </div>
  <script src="/js/prism.js" data-manual></script>
  <script>

    const drum_config = {
        'instrument' : 'drums',
        'note-class' : 'drum',
        'voices': [ 
            {
                'name' : '808 Drumkit',
                'tracks' : [
                    { 'name' : 'Tom', 'note' : 7, 'track' : 0, 'sound' : '/sounds/voices/808-drums/tom2' },
                    { 'name' : 'Clap', 'note' : 10, 'track' : 1, 'sound' : '/sounds/voices/808-drums/clap' },
                    { 'name' : 'Closed Hat', 'note' : 4, 'track' : 2, 'sound' : '/sounds/voices/808-drums/hihat' },
                    { 'name' : 'Open Hat', 'note' : 5, 'track' : 3, 'sound' : '/sounds/voices/808-drums/openhat' },
                    { 'name' : 'Snare', 'note' : 2, 'track' : 4, 'gain' : 0.6, 'sound' : '/sounds/voices/808-drums/snare1' },
                    { 'name' : 'Kick', 'note' : 0, 'track' : 5, 'sound' : '/sounds/voices/808-drums/kick2' }
                ]
            },
            {
                'name' : '909 Drumkit',
                'tracks' : [
                    { 'name' : 'tom', 'note' : 7, 'track' : 0, 'sound' : '/sounds/voices/909-drums/mid_tom' },
                    { 'name' : 'clap', 'note' : 10, 'track' : 1, 'sound' : '/sounds/voices/909-drums/clap' },
                    { 'name' : 'hat', 'note' : 4, 'track' : 2, 'gain' : 0.1, 'sound' : '/sounds/voices/909-drums/hat1' },
                    { 'name' : 'open_hat', 'note' : 5, 'track' : 3, 'sound' : '/sounds/voices/909-drums/open_hat' },
                    { 'name' : 'snare', 'note' : 2, 'track' : 4, 'gain' : 0.5, 'sound' : '/sounds/voices/909-drums/snare1' },
                    { 'name' : 'kick', 'note' : 0, 'track' : 5, 'sound' : '/sounds/voices/909-drums/kick2' }
                ]
            },
            {
                'name' : 'Rock Drumkit',
                'tracks' : [
                    { 'name' : 'tom', 'note' : 7, 'track' : 0, 'sound' : '/sounds/voices/rock-drums/midTom' },
                    { 'name' : 'clap', 'note' : 10, 'track' : 1, 'sound' : '/sounds/voices/rock-drums/clap' },
                    { 'name' : 'hat', 'note' : 4, 'track' : 2, 'sound' : '/sounds/voices/rock-drums/closedHat' },
                    { 'name' : 'open_hat', 'note' : 5, 'track' : 3, 'sound' : '/sounds/voices/rock-drums/openHat' },
                    { 'name' : 'snare', 'note' : 2, 'track' : 4, 'sound' : '/sounds/voices/rock-drums/snare1' },
                    { 'name' : 'kick', 'note' : 0, 'track' : 5, 'sound' : '/sounds/voices/rock-drums/kick' }
                ]
            }
        ]
    };

        
    const params = new URLSearchParams(window.location.search);
    if (params.has("embedded")) document.body.classList.add('embedded');
    window.onload = (e) => { 
        const container = document.getElementById('composer');
        new Composer(container, drum_config);
    };

  </script>
</body>
</html>
