---
title: TunePad Piano
description: Learn note names and values with this interactive piano keyboard.
splash: /images/splash/piano-splash.png
tags: interactive
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ title }}">
    <meta property=”og:type” content="article">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://learn.tunepad.com{{ splash }}">
    <meta property="og:url" content="https://learn.tunepad.com{{ page.url }}">
    <meta property="og:site_name" content="Learn TunePad">
    <meta property="og:locale" content="en_US" />
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/images/favicon.ico">
    <script src="/js/tunepad.min.js"></script>
    <title>{{ title }}</title>
</head>
<body>
<tunepad-project name="Welcome to TunePad" tempo="120" time="3/4">
<tunepad-cell-list>

<tunepad-cell patch="grand-piano" name="piano" uuid="piano" timeline="score" theme="light" class="tutorial music">
playNote(76, beats = 1/2)
playNote(75, beats = 1/2)
playNote(76, beats = 1/2)
playNote(75, beats = 1/2)
playNote(76, beats = 1/2)
playNote(71, beats = 1/2)
playNote(74, beats = 1/2)
playNote(72, beats = 1/2)
playNote(69, beats = 2)
</tunepad-cell>
</body>
</html>
